
body {
    font-family: sans-serif;
font-size: 20px;
    background-color: #4E5D6C;
}

.welcome-form {
    float: left;
    width: 400px;
    background-color: #2B3E50;
    height: 450px;
    text-align: center;
}
.left{
    margin-left: 35%;
    margin-right: 3%;
    margin-top: 5%;
}
.right{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 3%;

}
    .welcome-form legend {
        text-align: center;
    }

h1 {
    text-align: center;
    border-bottom: 1px solid #4E5D6C;
    width: 90%;
    margin: 0 auto;
}
.radio {
    display: inline-block;
}
#searchBar {
    margin-left: 450px;
}
span {
    font-size: 20px;
}
.newPost {
    margin-right: 950px;
    width: 200px;
}
.main {
    margin: 150px;
}

.picture-upload > div {
    display: block !important;
    text-align: center;
}
.picture-upload > div > img, button {
    display: inline-block;
}

input[type="file"] {
    position:absolute;
    display:none !important;
}

#search_results {
    background-color: #ffffff;
    margin-left: 20%;
    width: 5%;
}

    #search_results > li {
        margin: 10px;
    }
#welcome-header {
text-align: center;
    margin: 25px;
    border-bottom: 1px solid #708291;
}
#welcome-main{
    text-align: center;
    margin: 30px;
}
#welcome-main #login:hover {

}
#welcome-main .reg:hover {
    background-color: #708291;
}

#navbar-header h4{
    position: absolute;
    top: 100px;

}
#navigation-bar {
    background-color: #2B3E50;
}

#navigation {
    margin-top: 40px;

}

#profileImg{
    border: 1px solid #DF692A;
}

#coverPictureData{
    border: 1px solid #2b3e50;
    width: 250px;
    height: 100px;
}

#navigation h4{
    margin-left: 30px;
}

#navigation span {
    font-size: 30px;
    margin: 5px;

}

#newPost {

    margin-left: 220px;

}

#postButton {
    margin-top: 100px!important;
}

.newPost {
    margin: 0 auto;
    width: 800px!important;
}

textarea#styled {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}
#textArea {
    width: 200px;
}

#feed {
    border-bottom: 1px solid #2B3E50;
}