<div ng-include="'templates/navbar.html'"></div>

<div  ng-controller="postController" style="margin: 40px">
    <div id="textArea" class="newPost panel pull-right panel-info col-xs-7"  >
        <div style="text-align: left;">
        <textarea name="styled-textarea" id="styled"></textarea>
        <div style="text-align: left;">
            <a href="#/wall"><button class="submitButton btn-primary" style="margin-top: 30px !important;" ng-click="createPost()">Add post</button></a>
        </div>
    </div>

</div>

