<nav class="navbar navbar-default" ng-controller="mainController">
    <div class="container-fluid">
        <div class="navbar-header">
            <h4>Hello, {{name}}</h4>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><object data="http://www.bdu.edu.et/emti/sites/bdu.edu.et.emti/files/default_images/no-profile-img.gif" type="image/gif">
                    <img src="{{profileImage}}" />
                </object></li>
                <li><a href="#/wall"> <span class="glyphicon glyphicon-envelope"></span></a></li>
                <li><a href="#/friends"> <span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#/editProfile"> <span class="glyphicon glyphicon-wrench"></span></a></li>
                <li ng-controller="authenticationController"><a href="#/" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span></a></li>

            </ul>
            <form  class="navbar-form navbar-left" role="search">
                <div id="searchBar" class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
    </div>
</nav>